<h1>Warehouses</h1>
<div>
  <%@warehouses.each do |warehouse|%>
    <h3><%= warehouse.name %></h3>
    <p>City: <%= warehouse.city %></p>
    <p>State: <%= warehouse.state %></p>
    <%= link_to "Delete #{warehouse.name}", "/warehouses/#{warehouse.id}", method: :delete %>
  <% end %>
</div>